<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <h2>Login</h2>

  <div class="control-row">
    <div class="control no-margin">
      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        name="email"
        ngModel
        #email="ngModel"
        required
        email
      />
    </div>

    <div class="control no-margin">
      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        name="password"
        ngModel
        #password="ngModel"
        required
        minlength="6"
        maxlength="20"
      />
    </div>

    <button class="button">Login</button>
  </div>
  <!--
  @if(email.touched && password.touched && form.form.invalid){
  <p class="control-error">Invalid values detected. Please check your input.</p>
  } -->

  @if(email.touched && email.dirty && email.invalid ){
  <p class="control-error">Invalid email address entered.</p>
  } @if(password.touched && password.dirty && password.invalid ){
  <p class="control-error">
    Invalid password , please enter a password which is min-length is 6
  </p>
  }
</form>
